/*
 *
 * fonts and type
 *
 */
 
p {
    clear:both;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}






body { 
    @font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff; 
    margin:0px; 
    padding:0px; 
    font-size: 18px; 
    text-align: center;
}



/*
 *
 * Container holding jsPsych content
 *
 */


#jspsych_target {
    width: 700px;
    /*height: 800px;*/
    margin: auto;
}


/*#jspsych_target { 
    width: 1000px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px; 
    text-align: center; 
    }*/


#instructions, #nonJsPsychReports {
    width: 700px; 
    margin: auto;
    padding: 10px 10px 10px 10px;
    }


/*
 *
 * Form elements like input fields and buttons
 *
 */
/*
input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-sefif;
    font-size: 14px;
}

button {
    padding: 0.5em;
    background-color: #eaeaea;
    border: 1px solid #A0A0A0;
    color: #333;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    border:1px solid #333;
}*/

h1 {
    margin-bottom: 5%;
}


button {
    margin-top: 5%;
    min-width: 100px;
}

.checkbox {
    margin-top: 5%;
}

#jspsych-questionnaire {
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}


.jspsych-questionnaire-question {
    margin-top: 5%;
    text-align: left;
}


/*
styling the header above the bandit area
*/

#header {
    background: white;
    font-size: 28px; 
    border-bottom: 1px solid #eaeaea;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    height: 70px;
}

#show_trial_count {
    float: left;
    width: 300px;
    text-align: right;
}

#show_time_trial {
    float: right;
    width: 300px;
    text-align: left;
}

#balance {
    float: right;
    width: 300px;
}


/*
styling the footer below the bandit area
*/

#footer {
    background: white;
    border-top: 1px solid #eaeaea;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}


#prompt {
    width: 700px; 
    margin: auto;
    }

/*
styling the bandit area
*/

#bandit_area {
    /*border: 2px solid #C02942;*/
    /*padding: 10px 10px 10px 10px;*/
    /*margin: 10px 10px 10px 10px;*/
    /*height: 500px;*/ /* we modify this part depending on how many rows we have*/
    width: 500px;  
    margin-right: auto;
    margin-left: auto;
    font-size: 14px; 
}

#timeout_message {
    /*@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*width: 500px;
    height: 350px;*/
    font-size: 28px; 
    text-align: center;
    color: #C02942;
}


.arm_frames {
    padding: 5px 5px 5px 5px;
    margin:1px;
    height:100px;
    width:100px;
    /*border: 1px solid #eaeaea;*/
}


.arm_img {
    width: 100px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}

.highlighted_arm_img {
    width: 100px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0 0 8px #003399;
    -moz-box-shadow: 0 0 8px #003399;
    box-shadow: 0 0 18px #003399;
    cursor:pointer;
}


.arm {
    background-color: #C02942;
    border-radius: 2px;
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
}

.feat_vertical {
    width: 2px; /* Line width */
    background-color: yellow; /* Line color */
    position: absolute;
}

.feat_horizontal {
    height: 2px; /* Line width */
    background-color: yellow; /* Line color */
    position: absolute; 
}

.chosen_arm {
    background-color: #C02942;
    border-radius: 2px;
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.highlighted_arm {
    background-color: #C02942;
    border-radius: 2px;
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0 0 4px #003399;
    -moz-box-shadow: 0 0 4px #003399;
    box-shadow: 0 0 9px #003399;
    cursor:pointer;
}

.prediction_forms {
    /*padding: 5px 5px 5px 5px;*/
    margin: auto;
    /*border: 1px solid #999393;*/
}

.confidence_forms {
    /*padding: 5px 5px 5px 5px;*/
    margin: auto;
    /*border: 1px solid #999393;*/
}

.prediction_forms_highlight {
    /*padding: 5px 5px 5px 5px;*/
    margin: auto;
    border: 1px solid #0E9227;
}

.confidence_forms_highlight {
    /*padding: 5px 5px 5px 5px;*/
    margin: auto;
    border: 1px solid #0E9227;
}

.prediction_form_text {
    text-align:center;
    width:90px;
    border: 1px solid #999393;
}

.confidence_form_text {
    text-align:center;
    width:90px;
    border: 1px solid #999393;
}

.prediction_form_text_OK {
    text-align:center;
    width:90px;
    border: 1px solid #0E9227;
}

.confidence_form_text_OK {
    text-align:center;
    width:90px;
    border: 1px solid #0E9227;
}

.arm_labels {
    padding-bottom: 5%;
}


.arm_values {
    height: 30px;
    font-size: 16px;
    margin-top: 3px;
    /*position: relative;*/
}

table { 
    margin: 0 auto 0 auto;
}





